*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.bgimage{
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url('../../images/BgImage.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.mainpage{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.center{
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.main-first-text{
	font-family: 'Pretendard-SemiBold';
	font-size: 32px;
	color: #35C5F0;
	margin-bottom: 30px;

}
.main-second-text{
	/* font-family: 'Pretendard-SemiBold'; */
	color: #ffffff;
	font-size: 52px;
	margin-bottom: 20px;
	
}

.mainpage p{
	color: #ffffffdb;
	opacity: 0.8;
	margin: 14px 0 ;
	font-size: 18px;
}

.mainButton{
	width: 280px;
	height: 69px;
	border-radius: 30px;
	background: #35C5F0;
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.135);
	color: #ffffff;
	font-size: 24px;
	border: none;
	outline: none;
	padding: 16px 60px;
	cursor: pointer;
	font-family: 'Pretendard-SemiBold';
	opacity: 0.9;
	margin-top: 40px;
}
.mainButton:hover{
	opacity: 1;
	
}

.scroll-img{
	width: 76px;
	height: 64px;	
	align-self: center;
	opacity: 0.7;
}