

.slide-box{
	display: flex;
	align-items: center;
	overflow: hidden;
	width: 100%;
}
.slide-box2{
	height: 365px;
	position: relative;
	width: 100%;
}

.marquee{
	display: flex;
	z-index: 1;
	animation: marquee 0s linear infinite;
	position: absolute;
	animation-duration: 100s;
}
.marquee-second{
	display: flex;
	z-index: 1;
	animation: marquee-second 30s linear infinite;
	position: absolute;
	animation-duration: 100s;
	transform: translate(100%);
}


@keyframes marquee {
	0% {
    transform: translate(0);
	}
	100% {
			opacity: 1;
			transform: translate(-100%);
	}
}

@keyframes marquee-second{
	0% {
    transform: translate(100%);
	}
100% {
    transform: translate(0);
	}
}

.trend-container{
	width: 100%;
	max-width: 1256px;
	padding: 10px 60px;
	margin: 30px auto; 
	text-align: center
}

.trend-text{
	color: #212529;
	font-size: 40px;
	margin-bottom: 50px;
}

.trend-img{
	position: relative;
	width: 326px;
	height: 342px;
	border-radius: 4px;
	margin-right: 20px;
	overflow: visible;
	overflow-clip-margin: content-box;
	transition-duration: 0.25s;
}
.margin{
	margin-bottom: 30px;
}